*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{font-size: 100px;}

.container{
    border: 1px solid red ;
    display: flex;
    flex-wrap: wrap;
}

header{
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
}
.logo,
.menu,
.cta{min-width: 100px;border: 1px solid red;}

.item{
    background-color: #ccc;
    flex-basis: 50%;
    padding: 20px;
}

@media (max-width: 767px) {
    .item{
        flex-basis: 50%;
    }
  }


